.textred{
    color:deeppink;
}
body{
    background-image:url(https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product-plain-studio-background_1258-63925.jpg?size=626&ext=jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
